.open-sans-unique {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  z-index: 1000;
  background-color: transparent;
  border-radius: 10px;
}

.titulo {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800; 
  font-size: 40px;
  color:white;
}

.logueo_registro {
  display: flex;
}

header .logueo_registro button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header .logueo_registro .registro {
  background-color: #007bff;
  color: white;
}

header .logueo_registro .ini_sesion {
  background-color: #28a745;
  color: white;
}

.carrusel_inicio {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 20px auto; /* Ajustar el margen según sea necesario */
}

.carrusel_inicio img {
  width: 100%;
  display: none;
}

.carrusel_inicio img.active {
  display: block;
}

body{
  background: linear-gradient(to bottom, #1E90FF, #32CD32);
}
a{
  color:black;
  text-decoration: none;
}